header {
  background: linear-gradient(rgba(3, 180, 39, 0.36), rgba(0, 30, 45, 0.582)),
    url('img/city-scape.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.navbar {
  position: fixed;
  top: 0;
}
.bg-service {
  position: absolute;
  opacity: 20%;
  z-index: -1;
  right: 10vw;
}
.footer {
  background: url(img/bg.png);
}
#contact {
  background: linear-gradient(rgba(3, 180, 39, 0.46), rgba(0, 58, 87, 0.582)),
    url(img/space.jpg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
}
.testimonial-card {
  background: linear-gradient(rgb(0, 119, 24), rgba(0, 67, 100, 1));
}
