header {
  background: linear-gradient(rgba(3, 180, 39, 0.36), rgba(0, 30, 45, 0.582)),
    url('img/city-scape.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.navbar {
  position: fixed;
  top: 0;
}
.bg-service {
  position: absolute;
  opacity: 20%;
  z-index: -1;
  right: 10vw;
}
